.selectorContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 35px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 48px 32px;
}

@media only screen and (max-width: 992px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 576px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
